.wrapper {
    background: #333;
    height: 100%;
    padding: .7em;
    box-sizing: border-box;
    display: grid;
    grid-template: 1fr 4.5em / 100%;
    overflow: auto;
}

.addMessage {
    color: #fff;
}
