.wrapper {

}

.name {
    display: inline-block;
    color: #fff;
}

.nameInput {
    width: 9em;
}

.valueLabel {
    display: inline-block;
    color: #fff;
    margin-left: 1em;
}

.valueLabelInput {
    width: 6em;
}

.preValue {
}

.value {
}

.postValue {
}

.ratio {
    color: #fc6;
    font-size: .8rem;
}

.ratio:before {
    content: "(";
}

.ratio:after {
    content: ")";
}

.noRefWarn {
    color: #fff;
    background: #c00;
    font-size: .5rem;
}

.title {
    color: #fff;
}

.style {
    color: #fff;
}

.styleInput {
    width: 5em;
}

.preview {
    border-bottom: 1px dotted #fff;
}
